<div id="output">
<div align="center">
Welcome To The Arcane Lab

Lets Make Some Magic!
</div>

<form>
	<input type="text" name="cardname">
	<input type="submit" name="Submit">
</form>
</div>